body{
    padding-top:80px;
    font-family: Arial, Helvetica, sans-serif;
}

.intro{
    margin-left:30px;
    margin-bottom:20px;
    margin-top:40px;
}
.intro-heading{
    margin-top:auto;
}
.intro-explain{
    text-align: justify;
    padding-top:5px;
    background-color:#e0e0e0;
    margin-bottom:20px;
    border-radius:10px;
}

/*video*/
.video {
	height: 30em;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*scrollable content*/
.scrollable{
    display: block;
    overflow: auto;
    height: 29em;
    background-color:whitesmoke;
    margin-left:50px;
    padding-top:20px;
    border: 1.5px solid #585858;
    
}
.scrollable::-webkit-scrollbar {
    width: 10px;
}
  
.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
.scrollable::-webkit-scrollbar-thumb {
    background:#b0b0a8; 
}
.scrollable::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/*for I'm jessie*/
.steps-heading{
    margin-bottom:2em;
    margin-top:30px;
    margin-left:24%;
    padding-top:0.5em;
    border-top: solid 0.3px #404040;
    border-bottom:solid 1px #404040;
    width:600px;
    height: 53px;
}
.steps-img img{
    width:50%;
}
.steps-img{
    margin-right:10px;

}

/*for topics*/
.steps-container2 img{
    width:60%;
}
.steps-container2{
    margin-top:40px;
}

/*next button*/
.next-container{
    margin-top:40px;
    padding:50px 20px 120px 20px;
    height:100px;
    background-color:whitesmoke;
}
.next-container a{
    color:white;
}
.btn-success{
    padding:10px 25px 10px 25px;
}



@media (max-width: 992px) {
.intro{
    margin-left:15px;
}
.intro-heading h1{
    font-size:150%;
}
.intro-explain{
    font-size:75%;
}
.video{
    height: 22em;
}
.scrollable{
    height:22em;
}
.scrollable p{
  
  font-size:75%;
}
.steps-heading{
    width:400px;
}
}

@media (max-width: 767px) {
    .intro{
        margin-left:25px;
        margin-right:25px;
    }
    .intro-explain{
        margin-top:15px;
    }
    .video {
        height: 23em;
    }
    .scrollable{
        margin-top:25px;
        margin-left:0px;
        height:20em;
    }
    .steps-heading{
        width:300px;
    }
    }

@media (max-width: 576px) {
body{
    margin-top:-25px;
}
.intro{
    margin-top:10px;
    margin-left:8px;
    margin-right:8px;
}
.intro-explain{
    margin-top:20px;
}
.intro-heading h1{
    font-size:115%;
}
.intro-heading p{
    font-size:80%;
}
.video {
	height: 14em;
}
.scrollable{
    height:15em;
}
.steps-heading{
    width:180px;
    height:40px;
}
.steps-heading h3{
    font-size:110%;
}
.steps-img{
    padding-left:30px;
}
.steps-img h5{
    font-size:100%;
}
.steps-container2{
    padding-left:30px;
}
.steps-container2 h5{
    font-size:100%;
    margin-bottom:30px;
}
.steps-container2 img{
    width:50%;
}

.next-container h1{
    font-size: 150%;
}
.btn-success{
    padding:5px 15px 5px 15px;
}
.next-container{
    margin-top:0px;
}
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/